.page {
    position: relative;
    background: #3772E0;
    margin: -8px;
    height: 100vh;
    overflow: hidden;
    z-index: 2;
    font-family: "Montserrat", serif;
}

.circles {
    position: absolute;
    z-index: -2;
    height: 100%;
    width: 100vw;
}