.header {
    padding: 10px;
}

.form {
    display: flex;
    flex-wrap: wrap;
}

.catItem {
    cursor: pointer;
    background: white;
    padding: 1em;
    width: 40vw;
    margin-bottom: 10px;
    font-size: 20px;
    margin-bottom: 15px;
}

.submit {
    width: 70%;
    padding: 0.3em;
    font-size: 1.5em;
    border-radius: 20px;
}

