.wrapper {
    background: white;
    padding: 10px;
    font-size: 15px;
}

.points{
    font-weight: bold;
}

.submit {
    width: 50%;
    margin-top: 30px;
    border-radius: 20px;
    padding: 10px;
}