.wrapper {
    width: 80%;
    height: 60%;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    background: white;
    position: absolute;
    padding: 15px;
    text-align: center;
    border: solid;
    border-radius: 20px;
}

.button {
    padding: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}