.header {
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button {
    width: 60%;
    height: auto;
    border-radius: 10px;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 30px;
    margin-top: 50%;
}