.wrapper {
    top: 20%;
    left: 0;
    right: 0;
    background: white;
    border-radius: 15px;
    border: solid;
    position: absolute;
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
}

.header {
    text-align: center;
}

.choice{
    width: 50%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

.submit {
    width: 40%;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 15px;
}